@model IEnumerable<L01P02_2020PG601.Models.platos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombrePlato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombrePlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.platoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.platoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.platoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
