@model L01P02_2020PG601.Models.pedidos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motoristaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motoristaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.platoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.platoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.pedidoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
