@model IEnumerable<L01P02_2020PG601.Models.pedidos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.motoristaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.platoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.motoristaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pedidoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pedidoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pedidoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
